<style>
    .modal-content{
        width:696px;
    }

    .modal-footer {
        padding: 5px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
    }
    .modal-header {
        padding: 5px;
        border-bottom: 1px solid #e5e5e5;
    }
    fieldset {
        min-width: 0;
        padding: 10px;
        margin: 0;
        border: 0;
    }
    .control-label {
        position: relative;
        min-height: 1px;
        padding-right: 8px;
        padding-left: 11px;
    }

    .form-control {
        display: block;
        width: 264px;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

</style>

<!DOCTYPE html>
<html lang="en">

<body>
<div class="container-fluid">
    <div class="container cus_main_row" >

        <div class="row">
            <h2 class="pos-header-new">
                <div>Breaks</div>
            </h2>
        </div>
        <div class="row inner_row_bg">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="panel">
                    <div class="panel-body">
                        <div class="panel-body" style="height: 65px;">
                            <div class="col-md-4 col-lg-3 col-sm-5 col-xs-5">
                                <form class="form-horizontal ng-pristine ng-valid">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <p class="input-group" style="display: block;">
                                                <input id="search_grade" name="textinput"  type="text"
                                                       placeholder="Search Day" ng-model="searchText" class="form-control input-md"
                                                       ng-keyup="$event.keyCode == 13 ? getPaginatedBreaksList(searchText) : null"/>
                                            </p>

                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-9 col-lg-7 col-sm-9 col-xs-7">

                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <button type="button" class="btn btn-primary hi_btn"  ng-click="addBreaks()">Add</button>

                                    </div>
                                    <div class="col-sm-2">
                                        <button type="button" class="btn btn-primary hi_btn"  ng-click="BackServices()">Back</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="fixed-table-container">
                    <div class="table_wrapfixed-table-container-inner">
                        <div class="header-background"></div>
                        <table data-toggle="table" data-cache="false" data-height="299" class="hi_table table table-hover table-bordered table-striped table-fixed-header">
                            <thead>
                            <tr>
                                <th data-field="cntryname">
                                    <div class="th-inner" align="center"> Day</div>
                                </th>
                                <th data-field="edit">
                                    <div class="th-inner" align="center"> Start</div>
                                </th>
                                <th data-field="edit">
                                    <div class="th-inner" align="center"> End</div>
                                </th>
                                <th data-field="edit">
                                    <div class="th-inner" align="center">Edit</div>
                                </th>
                                <th data-field="edit">
                                <div class="th-inner" align="center">Delete</div>
                                </th>
                            </tr>
                            </thead>
                            <tbody id="parentTable">
                            <input type="hidden" ng-model="id" value="{{id}}"/>
                            <tr ng-repeat="wp in breaksList">
                                <td>{{wp.day}}</td>
                                <td>{{wp.startTime}}</td>
                                <td>{{wp.endTime}}</td>
                                <td><button type="button" class="btn btn-primary hi_btn"  ng-click="editBreaks(wp)">Edit</button></td>
                                <td><button type="button" class="btn btn-primary hi_btn"  ng-click="deleteBreaks(wp)">Delete</button></td>
                            </tr>
                            </tbody>
                        </table>
                        <div ng-if="searchText!='' && (breaksList).length==0">
                            <div id="notFoundDiv" style="color:red; font-weight: bold">No Records Found</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 pagination_">

                    <button type="button" class="btn btn-default hi_btn" ng-class="{'diabled-class': first}"
                            ng-disabled="first"
                            ng-click="getPaginatedBreaksList('firstPage')" ng-model="first">First
                    </button>
                    <button type="button" class="btn btn-default hi_btn" ng-class="{'diabled-class': prev}"
                            ng-disabled="prev"
                            ng-click="getPaginatedBreaksList('prevPage')" ng-model="prev">Prev
                    </button>
                    <button type="button" class="btn btn-default hi_btn" name="next" ng-disabled="next"
                            ng-click="getPaginatedBreaksList('nextPage')" value="next"
                            ng-class="{'diabled-class': next}" ng-model="next">Next
                    </button>
                    <button type="button" class="btn btn-default hi_btn"
                            ng-click="getPaginatedBreaksList('lastPage')" ng-class="{'diabled-class': last}"
                            ng-disabled="last"
                            ng-model="last">Last
                    </button>
                </div>
                <div align="center"><span style="color: red;"></span></div>
            </div>
        </div>
    </div>
            <div class="modal fade Student" tabindex="-1" id="add_breaks" role="dialog" data-backdrop="static"
                 aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content checkout" width="696px">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 id = "breaks-title" class="modal-title">Add Breaks</h4>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <form class="form-horizontal" name="student">
                                        <fieldset>
                                            <div class="tab-content">
                                                <div class="tab-pane fade in active" id="sub_step12">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-md-6 control-label" for="">Day<span
                                                                    style="color:red;">*</span></label>
                                                            <div class="col-md-6">
                                                                <select class="form-control input-md"
                                                                        ng-model="day" id="availableTypes">
                                                                    <option value="">Select Day</option>
                                                                    <option value="Monday">Monday</option>
                                                                    <option value="Tuesday">Tuesday</option>
                                                                    <option value="Wednesday">Wednesday</option>
                                                                    <option value="Thursday">Thursday</option>
                                                                    <option value="Friday">Friday</option>
                                                                    <option value="Saturday">Saturday</option>
                                                                    <option value="Sunday">Sunday</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-6 control-label" for="">Start<span style="color:red;">*</span></label>
                                                            <div class="col-md-6" style="position:relative;">
                                                                <input name="start"  maxlength="7"
                                                                       type="text" placeholder="Ex:5:30pm"
                                                                       ng-model="startTime" alphanum-without-space
                                                                       class="form-control input-md" required>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-md-6 control-label" for="">End<span style="color:red;">*</span></label>
                                                            <div class="col-md-6" style="position:relative;">
                                                                <input name="emd"  maxlength="7"
                                                                       type="text" placeholder="Ex:5:30pm"
                                                                       ng-model="endTime" alphanum-without-space
                                                                       class="form-control input-md" required>
                                                            </div>
                                                        </div>
                                                        <div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" style="position: absolute; top: 368.5px; left: 620px; z-index: 1; display: block;">
                                                            <div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all" style="display: none;">
                                                                <a class="ui-datepicker-prev ui-corner-all" data-handler="prev" data-event="click" title="Prev">
                                                                    <span class="ui-icon ui-icon-circle-triangle-w">Prev</span></a>
                                                                <a class="ui-datepicker-next ui-corner-all" data-handler="next" data-event="click" title="Next">
                                                                    <span class="ui-icon ui-icon-circle-triangle-e">Next</span></a>
                                                                <div class="ui-datepicker-title">
                                                                    <span class="ui-datepicker-month">June</span>&nbsp;<span class="ui-datepicker-year">2018</span></div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="submit" class="btn btn-primary" ng-click="saveBreaks()">Save</button>
                            <button type="button" class="btn btn-primary" ng-click="removeBreaks()" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>