<!DOCTYPE html>
<html lang="en">


<body>
<div class="container-fluid">
    <div class="container cus_main_row" >

        <div class="row">
            <h2 class="pos-header-new">
                <div> Masters</div>
            </h2>
        </div>

        <div class="col-md-3 rep_list_info">
            <div class="custom_notif">
                <a id="country"  href="#!/country"  tabindex="-1"> <i class="fa fa-globe" style="font-size:60px;color:#39c678;" aria-hidden="true"></i></a>
                <div class="rep_info">country</div>
            </div>
        </div>

        <div class="col-md-3 rep_list_info">
            <div class="custom_notif">
                <a id="state"  href="#!/state"  tabindex="-1"> <i class="fa fa-compass" style="font-size:60px;color:#39c678;" aria-hidden="true"></i></a>
                <div class="rep_info">state</div>
            </div>
        </div>

        <div class="col-md-3 rep_list_info">
            <div class="custom_notif">
                <a id="city"  href="#!/city"  tabindex="-1"> <i class="fa fa-map-marker" style="font-size:60px;color:#39c678;" aria-hidden="true"></i></a>
                <div class="rep_info">city</div>
            </div>
        </div>

        <div class="col-md-3 rep_list_info">
            <div class="custom_notif">
                <a id="Student"  href="#!/Student"  tabindex="-1"> <i class="fa fa-map-marker" style="font-size:60px;color:#39c678;" aria-hidden="true"></i></a>
                <div class="rep_info">Student</div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3 rep_list_info">
                <div class="custom_notif">
                    &nbsp;&nbsp;&nbsp; <a id="categoriesLink"  href="#!/categories"  tabindex="-1"> <i class="fa fa-sitemap" style="font-size:60px;color:#39c678;" aria-hidden="true"></i></a>
                    <div class="rep_info">Category</div>
                </div>
                </a>
            </div>

            <div class="col-md-3 rep_list_info">
                <div class="custom_notif">
                    <a id="Currency"  href="#!/currency"  tabindex="-1"> <i class="fa fa-money" style="font-size:60px;color:#39c678;" aria-hidden="true"></i></a>
                    <div class="rep_info">Currency</div>
                </div>
            </div>


            <div class="col-md-3 rep_list_info">
                <div class="custom_notif">
                    <a id="servicesLink"  href="#!/services"  tabindex="-1"> <i class="fa fa-tags" style="font-size:60px;color:#39c678;" aria-hidden="true"></i></a>
                    <div class="rep_info">Service</div>
                </div>
            </div>

            <div class="col-md-3 rep_list_info">
                <div class="custom_notif">
                    <a id="uominv"  href="#!/uominv"  tabindex="-1"> <i class="fa fa-sort-numeric-asc" style="font-size:60px;color:#39c678;" aria-hidden="true"></i></a>
                    <div class="rep_info">Unit of Measurement</div>
                </div>
            </div>

            <!--<div class="col-md-3 rep_list_info">-->
                <!--<div class="custom_notif">-->
                    <!--<a id="dosage"  href="#!/Dosage"  tabindex="-1"> <i class="fa fa-credit-card" style="font-size:60px;color:#39c678;" aria-hidden="true"></i></a>-->
                    <!--<div class="rep_info">Dosage</div>-->
                <!--</div>-->
            <!--</div>-->






            <div class="col-md-3 rep_list_info">
                <div class="custom_notif">
                    <a id="medicine"  href="#!/medicine"  tabindex="-1"> <i class="fa fa-medkit" style="font-size:60px;color:#39c678;" aria-hidden="true"></i></a>
                    <div class="rep_info">Medicine</div>
                </div>
            </div>

            <div class="col-md-3 rep_list_info">
                <div class="custom_notif">
                    <a id="medicine"  href="#!/employee"  tabindex="-1"> <i class="fa fa-users" style="font-size:60px;color:#39c678;" aria-hidden="true"></i></a>
                    <div class="rep_info">Employee</div>
                </div>
            </div>
            <div class="col-md-3 rep_list_info">
                <div class="custom_notif">
                    <a id="formsetup"  href="#!/formsetup"  tabindex="-1"> <i class="fa fa-cog" style="font-size:60px;color:#39c678;" aria-hidden="true"></i></a>
                    <div class="rep_info">FormSetup</div>
                </div>
            </div>

            <div class="col-md-3 rep_list_info">
                <div class="custom_notif">
                    <a id="addNewSms"  href="#!/smsConfig"  tabindex="-1"> <i class="fa fa-comments-o" style="font-size:60px;color:#39c678;" aria-hidden="true"></i></a>
                    <div class="rep_info">Sms Configurator</div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 rep_list_info"
                 id="addNewEmail">
                <a id="addEmail"  href="#!/emailServer"  tabindex="-1"> <i class="fa fa-envelope" style="font-size:60px;color:#39c678;" aria-hidden="true"></i></a>
                <div class="custom_info">
                    <div class="rep_info">Email Configuration</div>
                </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 rep_list_info"
                 id="addNewEmail">
                <a id="addEmail"  href="#!/smsServer"  tabindex="-1"> <i class="fa fa-envelope" style="font-size:60px;color:#39c678;" aria-hidden="true"></i></a>
                <div class="custom_info">
                    <div class="rep_info">SMS Server</div>
                </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 rep_list_info"
                 id="addMailSchedular">
                <a id="addMailSchedular" href="#!/reportMailScheduler" tabindex="-1"><i class="fa fa-book" style="font-size:60px;color:#39c678;" aria-hidden="true"></i></a>
                <div class="custom_info">
                    <div class="rep_info">Report Email Schedular</div>
                </div>
                </a>
            </div>

        </div>
    </div>
</div>
</body>
</html>