<!DOCTYPE html>
<html lang="en">


<body>
<div class="container-fluid">
    <div class="container cus_main_row" >

        <div class="row">
            <h2 class="pos-header-new">
                <div>Settings</div>
            </h2>
        </div>

        <div class="row">


            <div class="col-md-3 rep_list_info">
                <div class="custom_notif">
                    <a id="generalLink"  href="#!/general"  tabindex="-1"> <i class="fa fa-table" style="font-size:60px;color:#39c678;" aria-hidden="true"></i></a>
                    <div class="rep_info">General</div>
                </div>
            </div>


            <div class="col-md-3 rep_list_info">
                <div class="custom_notif">
                    &nbsp;&nbsp;&nbsp; <a id="businessLogicLink"  href="#!/businessLogic"  tabindex="-1"> <i class="fa fa-briefcase" style="font-size:60px;color:#39c678;" aria-hidden="true"></i></a>
                    <div class="rep_info">Business Logic</div>
                </div>
                </a>
            </div>




            <div class="col-md-3 rep_list_info">
                <div class="custom_notif">
                    <a id="aboutEasyAppointmentsLink"  href="#!/aboutEasyAppointments"  tabindex="-1"> <i class="fa fa-question-circle" style="font-size:60px;color:#39c678;" aria-hidden="true"></i></a>
                    <div class="rep_info">About Easy!Appointments</div>
                </div>
                </a>
            </div>

        </div>
    </div>
</div>
</body>
</html>