<!DOCTYPE html>
<html lang="en">


<body>
<div class="container-fluid">
    <div class="container cus_main_row" >

        <div class="row">
            <h2 class="pos-header-new">
                <div>Users</div>
            </h2>
        </div>

        <div class="row">


            <div class="col-md-3 rep_list_info">
                <div class="custom_notif">
                    <a id="providersLink"  href="#!/provider"  tabindex="-1"> <i class="fa fa-users" style="font-size:60px;color:#39c678;" aria-hidden="true"></i></a>
                    <div class="rep_info">Providers</div>
                </div>
            </div>

            <div class="col-md-3 rep_list_info">
                <div class="custom_notif">
                    <a id="currentUserLink"  href="#!/currentUser"  tabindex="-1"> <i class="fa fa-male" style="font-size:60px;color:#39c678;" aria-hidden="true"></i></a>
                    <div class="rep_info">Current user</div>
                </div>
                </a>
            </div>
            <div class="col-md-3 rep_list_info">
                <div class="custom_notif">
                    <a id="schedulerLink"  href="#!/scheduler"  tabindex="-1"> <i class="fa fa-user" style="font-size:60px;color:#39c678;" aria-hidden="true"></i></a>
                    <div class="rep_info">Schedule</div>
                </div>
                </a>
            </div>


            <!--<div class="col-md-3 rep_list_info">-->
                <!--<div class="custom_notif">-->
                    <!--&nbsp;&nbsp;&nbsp; <a id="secretariesLink"  href="#!/secretaries"  tabindex="-1"> <i class="fa fa-book" style="font-size:60px;color:#39c678;" aria-hidden="true"></i></a>-->
                    <!--<div class="rep_info">Secretaries</div>-->
                <!--</div>-->
                <!--</a>-->
            <!--</div>-->


            <!--<div class="col-md-3 rep_list_info">-->
                <!--<div class="custom_notif">-->
                     <!--<a id="adminsLink"  href="#!/admins"  tabindex="-1"> <i class="fa fa-calendar" style="font-size:60px;color:#39c678;" aria-hidden="true"></i></a>-->
                    <!--<div class="rep_info">Admins</div>-->
                <!--</div>-->
                <!--</a>-->
            <!--</div>-->

        </div>
    </div>
</div>
</body>
</html>